ul, ol > * {
  margin-left: 1.5rem; }

html {
  box-sizing: border-box;
  font-size: 90%;
  width: 100%;
  color: var(--body);
  background: var(--off-white); }

body {
  line-height: normal;
  font-family: sans-serif;
  font-size: 1rem; }

::selection {
  background-color: var(--forest-h); 
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px; }

ul {
  list-style: '- '; }

ul > li > ul {
  list-style: circle; }

ol > li > ol {
  list-style: lower-alpha; }

.dropdown {
  background-color: var(--sand);
  border-radius: 0.5rem;
  border: 1px solid var(--sand3); }


form > * {
  padding-bottom: 1.5rem; }

.unstyledList {
  list-style: none; }

ul.treeList, ul.treeList ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 200%; }

ul.treeList ul {
  margin-left: 1.5rem; }

ul.treeList li {
  margin: 0;
  padding: 0 7px;
  border-left: 1px solid var(--body-lightest); }

ul.treeList li:last-child {
  border-left: none; }

ul.treeList li:before {
  content: "";
  position: relative;
  top: -0.3em;
  height: 1em;
  width: 12px;
  border-bottom: 1px solid var(--body-lightest);
  display: inline-block;
  left: -7px; }

ul.treeList li:last-child:before {
  border-left: 1px solid var(--body-lightest); }

.props > * {
  margin-bottom: 1.5rem; }

.props__header {
  margin-bottom: 0.5rem; }

.container {
  height: 100%;
  position: relative; }

.color {
  padding-bottom: 3rem; }

.page {
  min-height: 100vh;
  padding: 1.5rem 3rem;
  margin: 0 auto; }
  .page__subtitle {
    padding-top: 1.5rem;
    font-weight: bold; }
  .page__content {
    padding: 1rem 3rem 3rem 3rem; }
  .page__section {
    margin-bottom: 3rem; 
  }

.breadcrumbs {
  display: flex;
  color: var(--body-lightest);
  align-items: flex-end; }

.crumb {
  color: var(--body-light);
  display: flex; }
  .crumb--active {
    color: var(--body); }
  .crumb > * {
    margin-right: 1rem; }


.codeblock {
  width: 100%;
  padding: 1rem;
  background: var(--body);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative; 
}

.input__pass {
  position: relative;
  color: var(--body-medium); }

.showPasswordButton {
  position: absolute;
  display: inline;
  left: 90%;
  bottom: 50%;
  cursor: pointer; }

.DraftEditor-root {
  border-radius: 0.5rem;
  background-color: var(--off-white);
  width: 100%; }

.editorWrapper {
  width: 100%;
  padding-top: 0;
  height: auto;
  border-radius: 0.5rem;
  padding: 1.5rem; }
  .editorWrapper--outline {
    border: 3px solid var(--sand2); }
  .editorWrapper > .DraftEditor-root {
    min-height: 10rem; }

.editor__title {
  background-color: var(--off-white);
  color: var(--body-light); }

.public-DraftEditor-content {
  font-family: 'Graphik', sans-serif;
  line-height: 180%;
  font-size: 0.9rem; }

.public-DraftStyleDefault-pre {
  background-color: var(--body);
  color: var(--off-white);
  line-height: 125%;
  padding: 5px;
  border-radius: 5px; }

.public-DraftStyleDefault-ul,
.public-DraftStyleDefault-ol {
  margin: 1em 0;
  padding-left: 2.5em; }

h1[data-block] {
  font-family: 'Graphik', sans-serif;
  font-size: 1.8rem;
  line-height: 200%; }

h2[data-block] {
  font-family: 'Graphik', sans-serif;
  font-size: 1.5rem;
  line-height: 170%; }

h2[data-block] {
  font-family: 'Graphik', sans-serif;
  font-size: 1.17rem; }

h4[data-block] {
  font-family: 'Graphik', sans-serif;
  font-size: 1rem;
  text-transform: none;
  letter-spacing: 0.5px;
  font-weight: 600; }

li.public-DraftStyleDefault-unorderedListItem,
li.public-DraftStyleDefault-orderedListItem {
  font-family: 'Graphik', sans-serif;
  font-size: 0.9rem;
  text-transform: none;
  letter-spacing: 0px; }

h5[data-block] {
  font-family: 'Graphik', sans-serif;
  font-size: 0.83rem;
  font-weight: 600; }

h6[data-block] {
  font-family: 'Graphik', sans-serif;
  font-size: 0.67rem;
  font-weight: 600; }


.showPass {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%); }

.notification {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.35s; }
  .notification:hover {
    background-color: var(--forest-h); }
  .notification--unread {
    background-color: var(--sand3); }

.menu__title {
  padding: 0.5rem;
  padding-top: 0;
  font-weight: bold; }

.selectItem {
  cursor: pointer;
  background-color: inherit;
  padding: 0.5rem;
  color: var(--body-light);
  position: relative;
  border-radius: 5px;
  transition: all 0.15s; }
  .accordion__item:hover, .selectItem:hover {
    color: var(--body);
    background-color: var(--forest-h); }

  .menu__item--active {
      background-color: var(--forest-h); }
  .menu__item--dropdown {
      border-radius: 0; }


.selectItem {
  height: 3rem;
  display: flex;
  align-items: center; }
  .selectItem > * {
    margin-right: 0.5rem; }


.popup {
  background-color: var(--sand);
  border: 1px solid var(--sand3);
  border-radius: 0.5rem;
  width: 15rem;
  min-height: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  position: absolute;
  z-index: 1; }
  .popup__wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  .popup__header {
    padding-bottom: 1rem; }
  .popup__tags {
    padding-top: 1rem; }
    .popup__tags > * {
      padding-bottom: 5px; }
  .popup__item:not(:last-child) {
    padding-bottom: 1rem; }

table,
thead,
tbody {
  width: 100%; }

.table {
  display: grid; }
  .table__cell {
    padding: 1rem; }

thead,
tbody,
tr {
  display: contents; }

thead th {
  background: var(--sand2); }

